@model NuclearProject.Models.Missile

<h2>@Model.MissileName</h2>
Başlık Tipi: @Model.WarheadTypeText<br />
Füze Adı: @Model.MissileName<br />
Menzili: @Model.MissileRange KM<br />
Yakıt Tipi: @Model.FuelType<br />

<a href="/Missile/Edit/@Model.MissileId"><i class="glyphicon glyphicon-wrench"></i></a> <a href="#" onclick="deletePrompt(@Model.MissileId)"><i class="glyphicon glyphicon-remove"></i></a> <a href="/Missile/Index"><i class="glyphicon glyphicon-chevron-left"></i></a>
